
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

/* configuração geral do site*/
* {
    font-family: 'Roboto', sans-serif;
    box-sizing:  border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}


/* menu lateral*/
.sidebar{
     width: 40px;
     height: 100%;
     position: fixed;
     left: 0;
     top: 0;
     background: #1e0342;
     color: rgb(255, 255, 255);
     display: flex;
     justify-content: center;
     align-items: center;
    }


header {
    background-image: linear-gradient( 110.1deg,  rgb(34, 13, 71) 44.2%, rgb(40, 6, 59) 138.2% );
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .7rem 2rem;
    height: 60px;
}

.brand {
    display: flex;
    align-items:  center; 
    }

.brand img {
    width: 80px;
    height: 50px;
    margin-right:.5rem;
  
}

.nav-menu li {
    display: inline-block;
    margin: 0rem 1rem;
    color: #333;
    text-align: center;
    }
    
.nav-menu a {
    color: rgb(255, 242, 242);
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 400;
}


.user img{
    border-radius: 50%;
    box-shadow:  0px 0px 3px 1px rgba(0, 0, 0, 0.603);
}

/*Conteudo*/
.main {
    margin-left: 40px;
    min-height: 100vh;
    }

.content-1, .content-2 {
    padding: 1rem  2rem;
}

.content-1 {
    min-height: 49vh ;
    background: #fffb19;
    display: grid;
    grid-template-columns: 30% 40% 30% ;
    color: rgb(38, 2, 65);
}

.text-center {
    display: flex;
    justify-content:  center;

}
.lakers{
    position: absolute;
    top:-50px;
    width:670px;
    opacity: 0.9;
    
}
    
.middle {
	position: relative;
}

.middle:after {
	content: '';
	height: 400px;
	width: 400px;
	border-radius: 50%;
	border: 1px solid rgba(61, 56, 10, 0);
	position: absolute;
	z-index: 50;
	left: 50%;
	top: 120px;
	transform: translateX(-50%);
	/*background: #dfe2e5;*/
}

.lebron {
	position: absolute;
	width: 59%;
	top: -15px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 100;
}
.middle h1{
    position:absolute;
    top: 55px;
    left: 75px;
    font-size: 8rem;
    color: rgb(54, 8, 100);
    font-weight: 700;
    z-index: 120;
    font-family:'Trebuchet MS', ;
    letter-spacing: -9px;
    
}
.circle-bg{
    background: rgba(204, 204, 204, 0);
    padding: .3rem;
    height:30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: .5rem;
}
.fav{
    display: flex;
    align-items: center;
    
}
.character h1 {

    font-size: 3.5rem;
    margin: 2.5rem 0rem;
    line-height: 3rem;
}

.team{
    display: flex;
    align-items: center;
}

.team img{
    margin-right: .5rem;
}
/* feature pai */
.features{
    display: flex;
    margin-top: .9rem;
    margin-bottom: 2rem;

}/* feature filhos */
.feature:first-child{
    margin-right: 6rem;
}
.feature p{
    font-weight: 400;
}
.feature h2{
    font-size: 2rem;
}
.side-content{
    padding:0rem 1rem;
}
.side-content:last-child{
padding-left: 4.5rem;
}

.side-content  h3{
    font-size: 1.4rem;
}
.title{
     text-align: center;
}
.game-card{
    background: rgb(253, 248, 174);
    border-radius: 7px;
    margin-top: 1rem;
    padding: 1rem;
}
.game-teams{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.2rem;
  }
  .game-team{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  .game-team h1{
      display: flex;
      align-items: center;
  }
.date{
    font-size: 1rem;
    font-weight: 700;
    display: flex;
}
.date span:last-child{
   padding-left: 1rem;
}

.highlights {
	display: grid;
	grid-template-columns: 60% 60%;
	margin-top: 1.3rem;
	overflow-x: hidden;
	grid-gap: 0rem 1rem;
}

.h-card {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	height: 150px;
	border-radius: 7px;
}

.h-card-over {
	position: absolute;
	background: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	border-radius: 7px;
    box-shadow: 3px 3px rgb(38, 2, 58), -1em 0 0.4em rgba(255, 255, 67, 0.493);
}

.h-card-content {
	height: 100%;
	width: 100%;
	position: relative;
}

.h-card-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	color: #fff;
	border-top: 1px solid #fff;
	padding: .5rem;
	display: flex;
}

.h-card-control {
	
}

.h-card-title p {
	font-size: .7rem;
	padding-left: .5rem;
}

.content-2{
    background: #f1f523;
    padding: 1rem 2rem;
    min-height:45vh;
    position: relative;
   
}

/* flex das caracteristicas*/

.flex{
     width: 30%;
}
.flex-grid {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;

}

.flex:last-child{
padding-left:4.5rem ;
}

table {
    border-collapse:  collapse;
    width: 70%;
    color: rgb(51, 20, 138);
}
th, td {
    border-bottom: 1px solid #505050;
    padding: .4rem;
    font-size: 1rem ;
}

th{

    text-transform: uppercase ;
    font-size: .7rem ;
    text-align: left;
}

td{
   padding-left: 2rem; 
   font-size: .9rem ;
}
.points {
    position: absolute;
    width: 40%;
    left: 50%;
    bottom: 2rem;
    transform:  translateX(-50%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0rem 3rem;
    z-index: 150;
    
}
.points-card{
    border-radius: 7px;
    text-align: center;
    color: #fff;
    
}
.points-title{
    text-transform:uppercase ;
    font-size: .8rem;
    font-weight: 700;
    padding: .5rem 0rem;
    border-bottom: 1px solid #fff;
}
.points-body{
    padding: 1.2rem 1rem 2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.points-body h2{
    font-size: 2.5rem;
}
.points-body h2 span{
    font-size: .8rem;
}
.points-card:first-child, 
.points-card:last-child {
background: rgb(25, 1, 53);
}

.points-card:nth-child(2){
    background: rgb(223, 208, 6);
    color: rgb(57, 12, 109);
}